{% extends 'layout.html' %}
{% block body %}
{% include 'includes/_messages.html' %}

 <div class="container">
    <div class="mt-4">
        <form action="" method="POST" name="login_user_form">
            <input id="csrf_token" name="csrf_token" type="hidden" value="IjRkOTEzYTA4ZWMzODQ4NGFjZmNlZTQxNmU0YmE2YzkyMzc3YWJhZDIi.YGoE3Q.aKp037ETPgIndrf6rgB7jT8gDMs">
            <div class="form-group">
                <p>
                    <label for="fullname">Conclusion</label> 
                    <!-- <input class="form-control" id="status" name="status" required type="text" value=""> -->
                    <textarea  class="form-control" id="conclusion" name="conclusion" ></textarea>
                </p>
            </div>
            <div class="form-group">
                <p>
                    <label for="fullname">Recomendation</label> 
                    <!-- <input class="form-control" id="status" name="status" required type="text" value=""> -->
                    <textarea  class="form-control" id="recommendation" name="recommendation" ></textarea>
                </p>
            </div>
            <div class="form-group">
                <p><input class="btn btn-outline-primary" id="submit" name="submit" type="submit" value="Submit"></p>
            </div>
        </form><br>
    </div>

    <div>
        <table class="table table-responsive table-sm table-striped table-bordered table-hover">
            <thead  class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Conclusion</th>
                    <th scope="col">Recommendation</th>
                    <th scope="col">vote</th>
                    <th scope="col">...</th>
                    <th scope="col">...</th>
                </tr>
            </thead>
            <tbody>
                {% for feedback_record in feedback_records %}
                    <tr>
                        <th scope="row">{{ feedback_record.id }}</th>
                        <td scope="row">{{ feedback_record.conclusion }}</td>
                        <td scope="row">{{ feedback_record.recommendation }}</td>
                        <td scope="row">{{ feedback_record.vote }}</td>
                        <td scope="row"><a class="btn btn-outline-primary" href="{{ url_for('approve_doctor_feedback', id=feedback_record.id ) }}">Vote Up</a></td>
                        <td scope="row"><a class="btn btn-outline-primary" href="{{ url_for('user_feedback', doctor_feedback_id=feedback_record.id ) }}">User Feedback</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}